@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




.App {
  text-align: center;
  padding: 50px 400px 50px 400px;
}

.description h2 {
  text-align: start;
  font-size: 18px;
  font-weight: 500;
}

.description {
  padding: 50px 400px 50px 400px;
}

.description span {
  font-weight: 700;
}

.description .code {
text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;

  color: white;
  width: 600px;
}

@media only screen and (min-width: 300px) and (max-width: 992px) {
  .App {
    text-align: center;
    padding: 50px 100px 50px 100px;
  }
}


.description .code {

  font-family: 'Poppins', sans-serif;
  font-size: 14px;

  color: white;
  width: auto;
}

p {
  background-color: rgb(224, 224, 224);
  font-family: 'Poppins', sans-serif;
  height: 200px;
  width: auto;
  margin: 20px;
  padding: 30px;
  font-size: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
  font-weight: bold;
  /* border: 1px solid rgba(0, 0, 0, 0.164); */
}

.btn_green {
  background-color: green;
  color: white;
  padding: 8px 10px 8px 10px;
  border: 0;
  box-shadow: rgba(16, 247, 8, 0.39) 0px 7px 29px 0px;
  border-radius: 100px;
}

.btn_red {
  background-color: red;
  color: white;
  padding: 8px 10px 8px 10px;
  border: 0;
  box-shadow: rgba(243, 4, 4, 0.377) 0px 7px 29px 0px;
  border-radius: 100px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
